.dataOverviewPane {
    -fx-background-color: #F3B197;
    -fx-border-color: #F1A080;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-width: 2;
}

.font{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.5em;
}

.simpleFont{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.3em;
}

.headDropShadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.34), 10, 0.5, 0.0, 0.0);
}

.dropShadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, 0.0);
}

.table-view{
}

.table-view .column-header{
    -fx-background-color: #F3B197;
    -fx-border-color: #F1A080;
}

.table-view .column-header .label{
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 1.3em;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.headerButton {
    -fx-cursor: hand;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color:  #f19f7f;
    -fx-border-color: #EC7D51;
}

.headerButton:pressed{
    -fx-background-color:  #EC7D51;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, 0.0);
}
.headerButton:disabled{
    -fx-background-color:  #EC7D51;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, 0.0);
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}

.defaultButton {
    -fx-cursor: hand;
}

.defaultButton:pressed {
    -fx-background-color: #ec957a;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, 0.0);
}

.defaultButton:disabled {
    -fx-background-color: #ec957a;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0.5, 0.0, 0.0);
    -fx-opacity: 1.0;
    -fx-cursor: hand;
}
